[buildout]
develop = .
versions = versions
parts = test
        checker


[versions]
distribute = 0.7.3
setuptools = 39.1.0
zc.buildout = 2.12.0
zc.recipe.egg = 2.0.7
ZConfig = 3.6.1
WebTest = 2.0.29
WebOb = 1.8.7
btrees = 4.11.2
BeautifulSoup = 3.2.1
beautifulsoup4 = 4.9.3
soupsieve = 1.9.6
backports.functools-lru-cache = 1.6.6
p01.buildouthttp = 1.0.1
p01.testbrowser = 3.0.0

[test]
recipe = zc.recipe.testrunner
eggs = j01.form [test]
       future


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/form
