.highlight {

    /* Comment */
    & .c1,
    & .cm {
        color: var(--hl-comment, black);
    }

    /* Documentation */
    & .sd {
        color: var(--hl-doc, black);
    }

    /* Keyword */
    & .k,
    & .kd {
        color: var(--hl-keyword, black);
    }

    /* Variable */
    & .n {
        color: var(--hl-var, black);
    }

    /* Function name */
    & .nf {
        color: var(--hl-func, black);
    }

    /* Class name */
    & .nb,
    & .kt {
        color: var(--hl-type, black);
    }

    /* String */
    & .s2,
    & .sb {
        color: var(--hl-string, black);
    }

}

/* Prevent images from exceeding the bounds of the slide */
.slide-content img {
    max-width: 100%;
    max-height: 50vh;
}
