[buildout]
versons = versions
develop = .
parts = chameleon test checker py


[versions]
lxml = 4.3.3
soupsieve = 1.9.6
backports.functools-lru-cache = 1.6.6


[chameleon]
recipe = p01.recipe.setup:mkdir
path = parts/chameleon


[test-env]
CHAMELEON_CACHE = ${buildout:directory}/parts/chameleon


[test]
recipe = zc.recipe.testrunner
eggs = j01.dialog [test]
       future
environment = test-env


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/dialog


[py]
recipe = zc.recipe.egg
eggs = j01.dialog
       future
interpreter = python
