[buildout]
develop = .
versions = versions
parts = test checker coverage-test coverage-report


[versions]
soupsieve = 1.9.6
p01.jsonrpc = 0.8.0
p01.publisher = 0.9.3
j01.jsonrpc = 3.0.0


[test]
recipe = zc.recipe.testrunner
eggs = j01.pager [test]
       future


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/pager


[coverage-test]
recipe = zc.recipe.testrunner
eggs = j01.pager [test]
       future
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
